# Lean / Lake
.lake/
lake-packages/

# Editor
.DS_Store

# LaTeX (paper/ including summit subfolders)
**/paper/**/*.aux
**/paper/**/*.fdb_latexmk
**/paper/**/*.fls
**/paper/**/*.log
**/paper/**/*.out
**/paper/**/*.toc
**/paper/**/*.synctex.gz
**/paper/**/*.synctex(busy)
